*{
    margin: 0;
    padding: 0;
}
body{
    background: #faafba;
    font-family: 'Kaushan Script';
    font-size: 24px;
}
.btn{
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: white;
    color:black;
    border-radius: 25px;
    border:0;
    outline: none;
    text-decoration: none;
    justify-items: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.main-container{
    width: 95%;
    margin: auto;
}
.container1{
    margin-left: 5%;
}
.container2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 5%;
}
.container3{
    display: none;
    position: absolute;
    top: 26%;
    left: 40%;
}
textarea{
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
    outline: none;
    border: none;
    width: 275px;
    height: 275px;
    padding: 40px 25px 25px 25px;
}
svg{
    color: black;
}
#check-icon{
    position: absolute;
    right: 15%;
    top: 4%;
}
#x-icon{
    position: absolute;
    right: 5%;
    top: 4%;
}
